/*
Developed By: Intelligence Methods
*/
body{
  background: #179698;
  font-size: 20px;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1{
  margin: 0;
  padding: 0;
  text-align: center;
  color: #FEB600;
  font-weight: normal;
  margin-bottom: 170px;;
}

picker{
  margin-top: 300px;;
}
